{{set . "title" "Home"}}
{{template "header.html" .}}

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Torgo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">작업목록</a></li>
                <li><a href="#">작업 추가</a></li>
                <li><a href="#">Setting</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Work List</h4>
            </div>
            <div class="col-sm-12">
                <!-- Board -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>File Name</th>
                        <th>Status</th>
                        <th>Time Stamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5</td>
                        <td>jelly_2015-07-23.zip</td>
                        <td>대기 중</td>
                        <td>2016-09-14 14:40:33</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>apache-maven-3.3.9-bin.tar</td>
                        <td>다운 중</td>
                        <td>2016-09-13 20:40:33</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Oracle_VM_VirtualBox_Extension_Pack-5.0.20-106931.vbox-extpack</td>
                        <td>다운 완료</td>
                        <td>2016-09-13 18:50:33</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ideaIU-2016.2.3.dmg</td>
                        <td>이동 중</td>
                        <td>2016-09-13 18:46:33</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>ubuntu-16.04-server-amd64.iso</td>
                        <td>이동 완료</td>
                        <td>2016-09-13 18:40:33</td>
                    </tr>
                    </tbody>
                </table>
                <div id="pagination" class="text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /.Board -->
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}